* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#game-container {
    width: 360px;
    height: 360px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

#top-bar {
    width: 100%;
    height: 40px;
    background-color: greenyellow;
}

#center-bar {
    width: 100%;
    height: 180px;
    display: flex;
}

#player-sprite, #enemy-sprite {
    width: 180px;
    position: relative;
}

.sprite-image {
    width: 100%;
    height: 100%;
}

#player-sprite .sprite-image {
    background-image: url(assets/img/Hero1.webp);
    background-size: contain;
    transform: scaleX(-1);
}

#enemy-sprite .sprite-image {
    background-image: url(assets/img/Hero1.webp);
    background-size: contain;
    filter: brightness(40%);
}

.fighter-stats {
    width: 60%;
    height: 36px;
    position: absolute;
    bottom: 0;
}

.fighter-stats .fighter-name {
    position: absolute;
    top: -24px;
    font-size: 18px;
    text-shadow: 2px 0 2px #111, -2px 0 2px #111, 0 2px 2px #111, 0 -2px 2px #111;
    color: #eee;
    font-weight: 700;
    font-style: italic;
}

#player-stats {
    background-color: rgba(255, 0, 0, 0.75);
    left: 0;
}

#enemy-stats {
    background-color: rgba(0, 0, 255, 0.75);
    right: 0;
}

#action-info {
    width: 100%;
    height: 72px;
    background-color: burlywood;
}

.fighter-hp, .fighter-sp {
    width: 100%;
    height: 14px;
    margin: 2px;
    display: flex;
    position: relative;
}

.fighter-hp .hp-bar, .fighter-sp .sp-bar {
    position: relative;
    height: 100%;
    width: 80%;
    border: 1px solid #555;
    border-radius: 7.5px;
    background-color: #999;
    overflow: hidden;
}

.fighter-hp .hp-fill, .fighter-sp .sp-fill {
    width: 100%;
    height: 100%;
    position: absolute;
}

.hp-fill {
    background-color: red;
}

.sp-fill {
    background-color: rgb(63, 63, 252);
}

.fighter-hp .hp-icon, .fighter-sp .sp-icon {
    width: 15px;
    height: 100%;
    font-size: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fighter-hp .hp-value, .fighter-sp .sp-value {
    position: absolute;
    font-size: 10px;
    font-weight: 750;
    color: white;
    text-shadow: 1px 1px 2px black;
    width: 100%;
    text-align: center;
}