* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#game-container {
    width: 360px;
    height: 360px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

#top-bar {
    width: 100%;
    height: 40px;
    background-color: greenyellow;
}

#center-bar {
    width: 100%;
    height: 180px;
    display: flex;
}

#player-sprite, #enemy-sprite {
    width: 180px;
    position: relative;
}

.sprite-image {
    width: 100%;
    height: 100%;
}

#player-sprite .sprite-image {
    background-image: url(assets/img/Hero1.webp);
    background-size: contain;
    transform: scaleX(-1);
}

#enemy-sprite .sprite-image {
    background-image: url(assets/img/Hero1.webp);
    background-size: contain;
    filter: brightness(40%);
}

.fighter-stats {
    width: 50%;
    height: 64px;
    position: absolute;
    bottom: 0;
}

#player-stats {
    background-color: rgba(255, 0, 0, 0.75);
    left: 0;
}

#enemy-stats {
    background-color: rgba(0, 0, 255, 0.75);
    right: 0;
}

#action-info {
    width: 100%;
    height: 72px;
    background-color: burlywood;
}